html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
}

.alert {
    margin-top: 1rem;
    padding: 20px;
    background-color: #f44336;
    color: white;
  }

img {
    max-width: 100%;
    
}

.text-center {
    text-align: center;
}


.pt-20 {
    padding-top:2rem;
}
.color-gray {
    color: #828282;
}
.w-800 {
    font-weight: 800;
}
.no-margin {
    margin:0;
}

h1 {
    font-size: 2.4rem;
}

.container {
    max-width: 160rem;
    width: 95%;
    margin: 0 auto;
}

.site-header {
    padding: 4.9rem 0rem;
}

.site-header_logo {
    padding-bottom: 5rem;
}
.siteheader_finder{
    font-family: 'Mulish';
    font-weight: 400;
    width: 24.7rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1.6rem;
    display:flex;
    align-items: center;
    cursor:pointer; 
    margin:auto;
    
}

.siteheader_finder > div {
    border-right: 0.1rem solid #F2F2F2;
}

.siteheader_finder div:nth-child(1) > span {
    color:#333333;
}

.siteheader_finder div:nth-child(2) > span{
    color:#BDBDBD;
}

.siteheader_finder > div:last-of-type {
    border-right: none;
}


@media(min-width:768px) {

    .navigate {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .siteheader_finder {
        margin: 0;
    }
    .site-header_logo {
        padding: 0;
    }
}

.siteheader_finder > div {
    padding: 1.9rem 1.4rem;
}

.siteheader_finder div > .material-icons {
    color: rgba(235, 87, 87, 0.9);
}

.site-section_info-stays {
    font-family: 'Montserrat';
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.4rem;
}

.site-section_cards {
    display:grid;
    grid-auto-rows: auto;
    column-gap:4rem;
    row-gap: 4rem;
}

@media(min-width: 768px) {
    .site-section_cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.info-apartment {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.site-section_cards div > img {
    border-radius: 2.4rem;
    
}

@media (min-width:768px) {
    .site-section_cards div > img {
        width: 513px;
        height: 342px;
    }
}

.site-section_cards div > .su_border {
    border: 1px solid #4F4F4F;
    border-radius: 1.2rem;
    color: #4F4F4F;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    background-color:transparent;
    padding: 0.7rem 0.9rem;
}

.info-type {
    color: #828282;
    font-weight:500;

}

.info-apartment > .rating {
    position:relative;
    z-index: -1;
}

.rating > .material-icons {
    position:absolute;
    left: -2.5rem;
    top: -0.6rem;
    color: #EB5757;
}

.info-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333333; 
}


.list-country > li {
    cursor:pointer;
}

.list-country li > span:nth-child(2) {
    font-weight:400;
}

header {
    position:relative;
    z-index:0;
}

.site-header {
    position:relative;
}

.siteheader_findemobile{
    visibility: hidden;
    font-family: 'Mulish';
    z-index:1;
    background-color: #ffffff;
    position:absolute;
    top:-730px;
    left:0;
    width:100%;
    padding: 2rem 1rem;
    transition: top 1s;
    
}

.findemobile_menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.close_menu{
    font-size: 2rem;
    cursor: pointer;
}

.findemobile_menu {
    padding-bottom:1.6rem;
}

.findemobile_menu > p, span{
    font-size: 1.2rem;
    font-weight: 700;
}

.findemobile_box-option {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1.6rem;
}

.findemobile_box-option div {
    padding:1.3rem 2.6rem;
}

.md-search {
    display:none;
}

@media (min-width: 768px) {

    .md-search {
        display:block;
    }
    .findemobile_box-option {
        display:flex;
    }

    .findemobile_box-option div {
        border-right: 0.1rem solid #F2F2F2;
        flex-basis: 33.3%;
    }

    .align-center{
        align-self: center;
    }

    .search-box {
        display:none;
    }
}

.findemobile_box-option input {
    border: none;
}

.findemobile_box-option > div:nth-child(1) {
    border-bottom: 0.1rem solid #F2F2F2;
}

.list-country, .list-guest{
    list-style: none;
    padding:0 2rem;
    visibility: hidden;
}


.list-country li {
    display:flex;
    align-items: center;
    font-weight:400;
    font-size:1.4rem;  
    padding-top: 3.4rem;
}

.list-guest li {
    display:flex;
    flex-direction: column;
    font-weight:400;
    font-size:1.4rem;  
    padding-top: 2.5rem;
}

.list-country li > span, .list-guest li > span {
    padding-right: 0.5rem;
}

.search-box {
    padding-top: 3rem;
    text-align: center;
}

@media (min-width:768px) {
    .search-box { 
        padding-top: 18rem;
    }
}

button {
    cursor:pointer;
    padding-left: 5.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 2.4rem;
    border-radius: 1.6rem;
    border: none;
    background-color: rgba(235, 87, 87, 0.9);
    color: #ffffff; 
    font-size:1.4rem;
    font-weight: 700;
    position:relative;
}

button:before{
    content: url('../img/search.svg');
    position:absolute;
    left: 20px;
    top: 12px;

}

#location {
    outline: none;
}

#guests {
    outline: none;
}

.site-section {
    position:relative;
    z-index:-1;

}
.active-bg {
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    display:none;
}

.border-menu{
    border: 1px solid #333333 !important;
    border-radius: 1.6rem;
}

.lists {
    display:flex;
    
}

.lists > ul {
    margin:0;
    flex-basis: calc(33.3%);
}

.v-none {
    visibility: hidden;
}

.v-visible {
    visibility:visible;
}

.number-adults, .number-childrens {
    width: 8rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}   

.number-adults > div, .number-childrens div{
    width:2.3rem;
    height: 2.3rem;
    border: 1px solid #828282;
    border-radius: 4px;
    text-align: center;
    cursor:pointer;
}











